/tarefa_02_json/build/
/WebApplication1/nbproject/private/
/WebApplication1/build/
/tarefa_02_json/nbproject/private/
/WebAppServletJsonList/nbproject/private/
/WebAppServletJsonList/build/
/WebAppJspDirectives/nbproject/private/
/WebAppJspDirectives/build/
/tarefa_03_jsp/nbproject/private/
/tarefa_03_jsp/build/
/tarefa_04_jsp/nbproject/private/
/tarefa_04_jsp/build/
/WebAppSession/nbproject/private/
/WebAppSession/build/
/tarefa_05/nbproject/private/
/tarefa_05/build/
